{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h2>Стек технологий проекта</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Backend stack technology: Python / Django framework
      </li>
      <li class="list-group-item">
         Frontend stack technology: HTML CSS JavaScript Bootstrap
      </li>
      <li class="list-group-item">
        Additional: Gunicorn Docker Nginx SQLite
      </li>
      <li class="list-group-item">
        git
      </li>
      <li class="list-group-item">
        Testing system: Pytest
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
  </article>
</div>
{% endblock %}